/* src/styles/global.css */
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Variables por defecto = light theme */
:root {
  --color-primary: #3b82f6; /* azul */
  --color-background: #ffffff; /* blanco */
  --color-text: #1e293b; /* gris oscuro */
}

/* Sobrescribe para dark theme */
.dark {
  --color1: #1e2a38; /* azul claro */
  --color2: #283747; /* azul muy oscuro */
  --color3: #e2e8f0; /* gris claro */
  --color4: #b0bec5;
  --color5: #2a3b4c;
  --color6: #78909C;
  --color7:#374151;
  --neutral1: #fff;
  --neutral2: #000;
}

/* Aplica las variables al body y texto */
body {
  background-color: var(--color2);
  color: var(--color3);
}
